<div class="d-flex justify-content-center align-items-center" id="divHome" style="min-height: 100vh;">
    <form class="card bg-light col-10 mt-3 mb-3" id="frmHome">
        <h1 class="text-center mt-2 mb-3" style="font-size: 50px; color: black">Class Name (Section Name)</h1>
        <div id="divSurveys" class="card col-12" style="background-color: white; border: none; padding: 20px; min-height: 100px;">
            <h1 id="surveyTitle" class="text-center" style="font-size: 35px; color: black">Survey Title</h1>
        </div>
        <label for="txtSurveyTitle" class="mt-2 mb-0">Survey Title:</label>
        <div class="d-flex align-items-center" style=" gap: 10px;">
            <input id="txtSurveyTitle" class="form-control col-lg-6 mb-0" type="text" placeholder="Survey 1" aria-label="Input for Survey Title" required>
            <button id="btnAddTitle" class="btn btn-secondary col-lg-6 mb-0" type="button">Add Title</button>
        </div>
        <label for="cboQuestion" class="mt-2 mb-0">Add A Question:</label>
        <div class="d-flex align-items-center" style=" gap: 10px;">
            <select id="cboQuestion" class="form-control col-lg-6 mb-0" placeholder="Add A Question" aria-label="Add a question">
                <option value="">Add a Question</option>
                <option value="multiple choice">Multiple Choice</option>
                <option value="likert scale">Likert Scale</option>
                <option value="short answer">Short Answer</option>
            </select>
            <button id="btnCreateNewQuestion" class="btn btn-secondary col-lg-6 mb-0" type="button">Create Question</button>
        </div>
        <div id="divCreateQuestion">
        </div>
        <button id="btnCreateSurvey" class="btn btn-secondary mt-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mb-1" type="button">Create Survey</button>
        <button id="btnReturnToClass" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mb-3" type="button">Return To Class</button>
    </form>
</div>