<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" id="divHome" style="min-height: 100vh;">
        <form class="card bg-light col-10 mt-3 mb-3" id="frmHome" style="min-height: 600px;">
            <h1 class="text-center mt-2 mb-3" style="font-size: 50px; color: black">Class Name (Section Name)</h1>
            <div id="divSurveys" class="card col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12" style="background-color: white; border: none; padding: 10px; min-height: 400px;">
                <h1 class="text-center" style="font-size: 40px; color: black">Surveys</h1>
            </div>
            <button id="btnCreateNewSurvey" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mt-2 mb-1" type="button">Create A New Survey</button>
            <button id="btnReturnToDashboard" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mb-3" type="button">Return To Dashboard</button>
        </form>
    </div>
</body>
</html>
<script>
function generateSurveys () {
    count = 0
    for (let i = 0; i < 5; i++) {
        let strDiv = ''
        if(count % 2 == 0) {
            strDiv = '<div id="divInnerSurvey" class="card mt-1 mb-2" style="background-color: rgb(250, 210, 252); border: none; padding: 10px;">'
        }
        else {
            strDiv = '<div id="divInnerSurvey" class="card mt-1 mb-2" style="background-color: rgb(250, 245, 200); border: none; padding: 10px;">'
        }
        strDiv += '<a href="surveystatus.html" class="stretched-link"></a>'
        strDiv += '<div class="d-flex" style="padding:10px; justify-content: space-evenly">'
        strDiv += '<h6 style="color: black">Survey Name</h6>'
        strDiv += '<h6 style="color: black">75% Complete</h6>'
        strDiv += '</div>'
        document.querySelector('#divSurveys').innerHTML += strDiv
        count++
    }
}
generateSurveys()

document.querySelector('#btnCreateNewSurvey').addEventListener('click', (event) => {
    window.location.href = 'createsurvey.html';
});

document.querySelector('#btnReturnToDashboard').addEventListener('click', (event) => {
    window.location.href = 'home.html';
});
</script>