<div class="d-flex justify-content-center align-items-center" id="divHome" style="min-height: 100vh; display: none">
    <form class="card bg-light col-10 mt-3 mb-3" id="frmHome" style="min-height: 600px;">
        <h1 class="text-center mt-2 mb-3" style="font-size: 50px; color: black">Class Name (Section Name)</h1>
        <div id="divSurveys" class="card col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12" style="background-color: white; border: none; padding: 10px; min-height: 400px;">
            <h1 class="text-center" style="font-size: 40px; color: black">Surveys</h1>
        </div>
        <button id="btnCreateNewSurvey" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mt-2 mb-1" type="button">Create A New Survey</button>
        <button id="btnReturnToDashboard" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mb-3" type="button">Return To Dashboard</button>
    </form>
</div>



<h1>Hello world</h1>