<div class="d-flex justify-content-center align-items-center" id="divHome" style="min-height: 100vh;">
    <form class="card col-10 bg-light mt-3 mb-3" id="frmHome">
        <div class="card-body">
            <div id="divInnerInstructor" class="card" style="background-color: rgba(255, 190, 255, 0.624); border: none; padding: 10px">
                <h1 class="text-center mt-2" style="font-size: 40px; color: black">Class List</h1>
                <div class="card mt-2 mb-2" style="padding: 10px; background-color: rgb(250, 222, 252); border-color: rgb(250, 222, 252)">
                    <h5 class="text-center mt-2" style="color: black">Class Name</h5>
                    <h5 class="text-center mb-2" style="color: black">Class Section</h5>
                    <a id="loadInstructorHome" class="stretched-link"></a>
                </div>
                <button id="btnReturnClasses" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mt-1 mb-2" type="button">Create A Class</button>
            </div>
        </div>
    </form>
</div>