<div class="d-flex justify-content-center align-items-center" id="divRegistration" style="min-height: 100vh; display: none">
    <!-- Registration Form -how do I use bootstrap to change color of text again??-->
        <form id="frmRegister" class="card col-12 col-md-6 col-lg-4 mt-3 mb-3 bg-light">
            <div class="card-body">
                <!-- Intro of Registration form -->
                <!-- Close button to return to landing page (Update so it actually works later) -->
                <!-- <div align="right">
                    <button id="btnSwapLanding" class="btn btn-outline-secondary" style=" border: none;" type="button">X Close</button>
                </div> -->

                <div class="d-flex justify-content-center mb-4">
                    <img src="images/TechTalkIcon.png" alt="TechTalk Logo" style="max-width: 50%;">
                </div>
                <h2 class="text-center mb-0 text-primary" style="font-size: 40px;"> Registration</h2>
                <hr />
                <div class="form-group">
                    <label for="txtEmail">Email Address: <i class="bi bi-asterisk" style="color:red; font-size: 13px;"></i></label>
                    <input type="email" class="form-control" id="txtEmail" placeholder ='jdoe42@tntech.edu' name="email" aria-label="Input for email" />
                </div>
                <div class="form-group ">
                    <label for="txtPassword">Password: <i class="bi bi-asterisk" style="color:red; font-size: 13px;"></i></label>
                    <input type="password" class="form-control" id="txtPassword" name="password" placeholder ='Password' pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$" title="Password must contain at least one number, one alphabet, one symbol, and be at least 8 characters long" aria-label="Input for password" />
                </div>
                <div class="form-group ">                    
                    <label for="txtRepassword">Re-type Password: <i class="bi bi-asterisk" style="color:red; font-size: 13px;"></i></label>
                    <input type="password" class="form-control" id="txtRepassword" name="repassword" placeholder = "Retype password" aria-label="Input for retype password" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="txtFirstname">First Name: <i class="bi bi-asterisk" style="color:red; font-size: 13px;"></i></label>
                        <input type="text" class="form-control" id="txtFirstname" placeholder="John" name="first-name" aria-label="Input for first name" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtMiddlename">Middle Name: </label>
                        <input type="text" class="form-control" id="txtMiddlename" placeholder="William" name="middle-name" aria-label="Input for middle name" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtLastname">Last Name: <i class="bi bi-asterisk" style="color:red; font-size: 13px;"></i></label>
                        <input type="text" class="form-control" id="txtLastname" placeholder="Doe" name="last-name" aria-label="Input for last name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="telPhone">Mobile Phone Number: <i class="bi bi-asterisk" style="color:red; font-size: 13px;"></i></label>
                    <input type="tel" class="form-control" id="telPhone" placeholder="555-555-5555"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="mobile-phone" aria-label="Input for mobile phone number" />
                </div>
                <!-- Buttons for login and swich to registration form -->
                <hr />
                <button id="btnRegistration" class="btn btn-primary col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-1" type="button">Register</button>
                <label for="btnSwapRegistration" class="d-flex justify-content-center align-items-center mt-1">Already have an account<button id="btnSwapRegistration" class="btn btn-link" type="button"><u>Back to Login</u></button></label>
                </div>
            </div>
        </form>
</div>

