<!-- Main container for the student groups page -->
<div class="d-flex justify-content-center align-items-center" id="divHome" style="min-height: 100vh;">
    <!-- Form container for displaying class and group information -->
    <form class="card bg-light col-10 mt-3 mb-3" id="frmHome">
        <!-- Class Name Section -->
        <h1 class="text-center mt-2 mb-3" style="font-size: 50px; color: black">Class Name (Section Name)</h1>
        
        <!-- Group Name Section -->
        <h2 class="text-center mt-2 mb-3" style="font-size: 50px; color: black">Group Name</h2>
        
        <!-- Surveys or Group Content Section -->
        <div id="divSurveys" class="card col-12" style="background-color: white; border: none; padding: 20px; min-height: 100px;">
            <!-- Content related to surveys or group details will go here -->
        </div>
        
        <!-- List of students in group with contact info name,email,phone#,discord name-->


        <!-- option for students leave a group -->


        <!-- Button to return to the class list -->
        <button id="btnReturnToClass" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mb-3" type="button">Return To Class List</button>
    </form>
</div>