<div class="d-flex justify-content-center align-items-center" id="divHome" style="min-height: 100vh;">
    <form class="card col-10 bg-light mt-3 mb-3" id="frmHome" style="min-height: 500px;">
        <div class="card-body">
            <div id="divStudent">
                <div id="divInnerStudent" class="card" style="background-color: rgba(253, 236, 182, 0.698); border: none; padding: 10px; padding-bottom: 85px;">
                    <h1 class="text-center mt-2" style="font-size: 40px; color: black">Join a class</h1>
                    <label for="txtClassCode" class="mb-1" style="color:black; padding-top: 90px;">Enter a Code:</label>
                    <input id="txtClassCode" class="form-control" type="text" placeholder="ABC123" style="background-color: white; border-color: black;" aria-label="Input for class name"></input>
                    <hr />
                    <button id="btnEnterCode" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5" type="button">Enter</button>
                    <button id="btnViewClassesStudent" class="btn btn-secondary col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mt-1 mb-5" type="button">View All Classes</button>
                </div>
            </div>
        </div>
    </form>
</div>