<div class="d-flex justify-content-center align-items-center" id="divHome" style="min-height: 100vh;">
    <form class="card bg-light col-10 mt-3 mb-3" id="frmHome">
        <h1 class="text-center mt-2 mb-3" style="font-size: 50px; color: black">Class Name (Section Name)</h1>
        <div id="divSurveys" class="card col-12" style="background-color: white; border: none; padding: 20px; min-height: 100px;">
            <div class="d-flex align-items-center flex-wrap mb-2" style="gap: 20px; justify-content: center">
                <h1 id="surveyTitle" style="font-size: 35px; color: black; white-space: nowrap; flex-shrink: 0;">Survey Title</h1>
                <div id="myPlot" style="flex-grow: 1; max-width: 300px;  max-height: 300px; width: 75%;"></div>
            </div>
        </div>
        <button id="btnReturnToClass" class="btn btn-secondary mt-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 col-5 mb-3" type="button">Return To Class</button>
    </form>
</div>